.container {
  height: 100vh;
}

.menu-title {
  padding: 16px;
  font-weight: 600;
}

.content {
  padding: 16px;
}
.floating-menu-btn {
  position: fixed;
  top: 90%;      /* below toolbar */
  left: 20px;     /* ALWAYS outside sidenav */
  z-index: 1000 !important;  /* higher than sidenav */
}