<mat-sidenav-container class="container">

  <!-- Sidebar -->
<mat-sidenav #drawer mode="side" opened>

  <div class="menu-title">Menu</div>

<mat-nav-list>
  @for (item of menuItems; track item.label) {

    <!-- Normal Route Items -->
    @if (item.route) {
      <a
        mat-list-item
        [routerLink]="item.route">
        {{ item.label }}
      </a>
    }

    <!-- Logout Item -->
    @if (item.action === 'logout') {
      <a
        mat-list-item
        (click)="logout()">
        {{ item.label }}
      </a>
    }

  }
</mat-nav-list>

</mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Einsatz</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>